<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Welcome to Meet me!</h1>
	<p>Thank you for signing up!</p>
	<p>Your username is <%= @user.user_name %></p>
	<p>Your password is <%= @user.password %></p>
	<p>Your user ID is <%= @user.id %></p>
</body>
</html>