<h1>Create a visit for location</h1>

Not a user? Sign-up now!  <button class = 'new'>
<%= link_to "Create a new user", new_user_path, method: 'get' %>
</button>
<br>
<br>
<%= render '/shared/formvisits' %>