// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#listcontainer {
	margin: 0 auto;
	padding: 20px 0px;
	background-color: #e67e22;
	width: 100%;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.listindex {
	padding: 0px;
	margin: auto;
	margin-left: 20px;
}

.index_item{
	width: 168px;
	height: 168px;
	font-family: Lato, sans-serif;
	border: 2px solid grey;
	border-radius: 10px;
	display: inline-block;
}

.index_item {
	padding: 10px 0;
}

.dark {
	background-color: grey;
	color: white;
}

.light {
	background-color: yellow;
}

.listindex li {
	display: inline-block;
	text-align: center;
	margin: 5px;
	// background-color: white;
}

.listindex p {
	padding: 10px 5px;
	margin: 0px;
}

.listindex p:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

button {
	padding: 10px;
	border: 0px;
	border-radius: 10px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-left: 20px;
	color: white;
}

.locations{
	background-color: #2980b9;
	color: white;
}

.delete {
	background-color: #c0392b;
}

.new {
	background-color: #34495e;
}

.visits {
	background-color: #27ae60;
}

.edit {
	background-color: #f1c40f;
}

.save {
	background-color: #d35400;
	color: white;
	border: 0px;
	padding: 10px;
	border-radius: 10px;
}

.notice {
	color: #27ae60;
}

a {
	// color: white;
	padding: 10px;
}

a:visited {
	// color: white;
}

.solocation p {
	margin: 0px;
	padding-top: 20px;
	color: white;
}

.solocation {
	width: 80%;
	font-family: Lato, sans-serif;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	background-color: #f39c12;
}